.preload {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
}
.preload_container,
#notification {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.preload_container {
  height: 100%;
}
.preload_container img {
  height: 5rem;
  margin-bottom: 1rem;
}

#notification {
  margin-top: 1rem;
}
#notification.hidden {
  display: none;
}
