@font-face {
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("./folder/VarelaRound-Regular.woff2") format("woff2");
}
.app {
  --back-colour: linear-gradient(90deg, #efd5ff 0%, #7e85df 100%);
}
.app_container {
  background: var(--back-colour);
  height: 100vh;
  color: white;
  font-family: "Varela Round", sans-serif;
  user-select: none;
}
